body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f5;
  color: #333;
}

header {
  background-color: #1e2a38;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

header h1 {
  margin: 0;
  font-size: 24px;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  flex-grow: 1;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  padding-bottom: 5px;
  position: relative;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  border-bottom: 3px solid #ff9800;
  color: #ff9800;
}

.login-button {
  background-color: #ff9800;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #e68900;
}

.favourites-list {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.favourites-list h2 {
  text-align: center;
  margin-bottom: 30px;
}

.product-card {
  display: flex;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 150px;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.figcaption {
  text-align: center;
  margin-top: 5px;
}

.product-details {
  margin-left: 20px;
}
.product-details h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.product-details p {
  font-size: 16px;
  color: #333;
}

.product-details button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-details button:hover {
  background-color: #e68900;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 8px 0;
  color: #ccc;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 20px;
  margin-top: 20px;
}

.footer-bottom p {
  color: #777;
  font-size: 14px;
}
